* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    text-align: justify;
    position: relative;
}

.container {
    position: relative;
    overflow: hidden;
    width: 1116px;
}

.box-header {
    background-color: black;
    position: fixed;
    width: 1116px;
    padding: 25px 0px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #576574;
    opacity: 0.7;
    z-index: 1000;
}

ul li {
    list-style: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: 20px;
}

ul .menu-li:hover {
    color: #5f27cd;
    cursor: pointer;
}

.menu .menu-li:hover .main-menu {
    display: block;
}

.menu .menu-li:hover .main-menu .child-li {
    display: block;
}

.menu .menu-li::before {
    content: "";
    position: absolute;
    top: 23px;
    background-color: red;
    width: 0px;
    height: 7px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.menu .menu-li:hover::before {
    width: 100%;
    opacity: 1;
}

.box-banner img {
    width: 100%;
    height: 610px;
}

.logo img {
    width: 150px;
    height: 70px;
    background-color: transparent;
}

.scrollTop {
    border: 1px solid white;
    position: absolute;
    right: 70px;
    height: 40px;
    width: 40px;
    bottom: 30px;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    position: fixed;
}

.scrollTop:hover {
    background-color: #e67e22;
    border: none;
    color: #5f27cd;
    border: none;
}

.scrollTop i {
    font-size: 30px;
    color: #27ae60;
    position: absolute;
    left: 4px;
    top: 4px;
}


.p {
    font-weight: bold;
    padding: 5px 0px;
    animation: speed 4.5s linear infinite;
}

@keyframes speed {
    0% {
        transform: translateX(860px);
        color: red;
    }

    100% {
        transform: translateX(-860px);
        color: white;
    }
}

.fix {
    padding: 0;
    transition: all 0.5s ease-in-out;
}

.box-footer {
    width: 100%;
    justify-content: center;
}

.box-footer iframe {
    margin-right: 20px;
    width: 350px;
    height: 200px;
}

.box-content i {
    font-size: 30px;
    color: red;
    font-weight: 100;
    animation: sped 0.2s linear infinite;
}

@keyframes sped {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(45deg);
    }
}

.text {
    position: relative;
}

.main-menu {
    position: absolute;
    width: 250px;
    background-color: black;
    left: -10;
    height: 200px;
    top: 35px;
    display: none;
}

.main-menu li:hover {
    color: red;
}

.main-menu.start {
    height: 465px;
}